<table class="table table-condensed" style="border-width: 2px; border-color: black; border-style: solid;">
  <thead>
    <tr>
      <th>Id</th>
      <th>Descripcion</th>
      <th>Tipo</th>
      <th>Fecha de vencimiento</th>
      <th>Precio</th>
      <th>Foto</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let producto of listado" >
      <td>{{producto.id}} </td>
      <td>{{producto.descripcion}} </td>
      <td>{{producto.tipo}} </td>
      <td>{{producto.fechaDeVencimiento}} </td>
      <td>{{producto.precio}} </td>
      <td><img class="fotoproducto" [src]="producto.rutaDeFoto" /> </td>
    </tr>
  </tbody>
</table>
<button [class.selected]="producto === productoSeleccionado" (click)="onSelect(Producto)"></button>
<app-producto-seleccionado [Producto]="productoSeleccionado"></app-producto-seleccionado>
<router-outlet></router-outlet>

