<table class="table table-condensed" style="border-width: 2px; border-color: black; border-style: solid;">
  <thead>
    <tr>
      <th>Id</th>
      <th>Descripcion</th>
      <th>Tipo</th>
      <th>Fecha de vencimiento</th>
      <th>Precio</th>
      <th>Foto</th>
      <th>Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let producto of listado" >
      <td>{{producto.id}} </td>
      <td>{{producto.descripcion}} </td>
      <td>{{producto.tipo}} </td>
      <td>{{producto.fechaDeVencimiento}} </td>
      <td>{{producto.precio}} </td>
      <td><img class="fotoproducto" [src]="producto.rutaDeFoto" /> </td>
      <td><app-eliminar-producto [producto]="producto.id"></app-eliminar-producto></td>
    </tr>
  </tbody>
</table>
<section class="widget clearfix" >
  <h4 class="widgettitle">Alta </h4>
    <div>
      <app-producto></app-producto>
    </div>  
</section>

<section class="widget clearfix" >
    <h4 class="widgettitle">Buscar</h4>
      <div>
        <app-buscar-producto></app-buscar-producto>
      </div>  
  </section>
<!--<section class="widget clearfix" >
  <h4 class="widgettitle">Baja</h4>
    <div>
      <app-producto></app-producto>
    </div>  
</section>-->
<router-outlet></router-outlet>

