<div *ngIf="!nuevaVenta">


  <button class="btn btn-lg btn-warning btn-block"  (click)="hacerNuevaVenta()">Nueva</button>


</div>
<div *ngIf="nuevaVenta">
  <h2>Id</h2>
  <form [formGroup]="nuevaForm" class="modal-content animate" (ngSubmit)="crearVenta()" >
    <div class="container">
      <label>Id Producto:</label>
      <input type="text" [(ngModel)]="nuevaVenta.id" placeholder="Id Producto" [formControl]="id" required>
      <label>Fecha de venta:
        <input type="date" [(ngModel)]="nuevaVenta.fechaDeVenta" placeholder="aaaa-mm-dd" [formControl]="fechaCompra" required>
      </label>
      <label>Cantidad:
        <input [(ngModel)]="nuevaVenta.cantidad" placeholder="Cantidad" [formControl]="cantidad" required>
      </label>
      <div>
        <button type="submit" [disabled]="!nuevaForm.valid">Crear</button>
      </div>
    </div>
  </form>
  </div>